@model TaxOfficeActivityWebApp.ViewModels.TaxOfficeViewModel

@{
    ViewData["Title"] = "Index";
}


<div class="text-center"><h1>Налоговые офисы</h1></div>

<p>
    <a class="btn btn-outline-dark" asp-action="Create">Добавить</a>
    <a class="btn btn-outline-dark" asp-action="ClearCache">Очистить фильтр</a>
</p>

<div class="row, text-left">
    @using (Html.BeginForm("Index", "TaxOffices", FormMethod.Get))
    {
        <fieldset>
            Наименование офиса: @Html.TextBox("taxOfficeName", Model.TaxOfficeName)
            Наименование районы: @Html.TextBox("districtName", Model.DistrictName)
            <input class="btn btn-outline-dark" type="submit" value="Найти" />
        </fieldset>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaxOffices.FirstOrDefault().TaxOfficeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxOffices.FirstOrDefault().District.DistrictName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TaxOffices)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxOfficeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.District.DistrictName)
                </td>
                <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.TaxOfficeId">Изменить</a> |
                    <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.TaxOfficeId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}