@model BakeryWebApp.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="bg-light">
    <div class="text-center"><h1>Изделия</h1></div>
    <div class="row, text-left">
        <p>
            @if(User.IsInRole("admin") || User.IsInRole("manager"))
            {
                <a class="btn btn-outline-dark" asp-action="Create">Добавить</a>
            }
            <a class="btn btn-outline-dark" asp-action="ClearCache">Очистить фильтр</a>
        </p>
    </div>
    <div class="row, text-left">
        @using (Html.BeginForm("Index", "Products", FormMethod.Get))
        {
            <fieldset>
                Наименование изделия: @Html.TextBox("productName", Model.ProductName)
                <input class="btn btn-outline-dark" type="submit" value="Найти" />
            </fieldset>
        }
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().ProductName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @if(User.IsInRole("admin") || User.IsInRole("manager"))
                    { 
                        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.ProductId">Изменить</a>
                        <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.ProductId">Удалить</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

